﻿@page "/items"

<h3>Items</h3>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-md-inline-flex flex-row p-2 m-2">
        <div class="input-group input-group-sm align-content-md-start">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </span>
            </div>
            <input type="text" @bind="SearchText" @onkeyup="Filter" placeholder="Search" class="form-control fix-rounded-right">
            <a title="Clear" style="margin-left: 10px;" href="javascript:void(0)" @onclick="ClearSearch">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="darkgrey" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                </svg>
            </a>
            <div style="margin-left: 10px;" class="form-check form-check-inline">
                <input @onchange="OnShowDeletedItemsCheckboxChange" class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" >
                <label class="form-check-label" for="inlineRadio1">Show Deleted Items</label>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Rank</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr class="@GetDeletedRowStyle(item)">
                    <td>@item.Id</td>
                    <td>
                        <a href="items/@item.Id">
                            @item.Name
                        </a>
                    </td>
                    <td>@item.Rank</td>
                    <td>@item.Price.ToString("$0.00")</td>
                    <td style="text-decoration:none;" >
                        @if (!item.IsDeleted)
                        {
                            <a title="Edit" href="items/@item.Id/edit">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                </svg>
                            </a>
                            <span>&nbsp;|&nbsp;</span>
                            <a title="Delete" href="javascript:void(0)" @onclick="async (e)=> await DeleteItem(e, item.Id)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="red" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                </svg>
                            </a>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="items/add">Add New</a>