﻿@page "/items/{Id:long}"
@page "/items/{Id:long}/{command}"
@page "/items/{command}"

<h3>Item Details</h3>

@if (Id.HasValue && string.IsNullOrWhiteSpace(Command))
{
    @if (Item == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <dl>
            <dt>Id</dt>
            <dd>@Item.Id</dd>
            <dt>Name</dt>
            <dd>@Item.Name</dd>
            <dt>Price</dt>
            <dd>@Item.Price</dd>
            <dt>Rank</dt>
            <dd>@Item.Rank</dd>
        </dl>

    }

    <a href="items">Back</a>if (Item != null)
    {
        <span> | </span><a href="javascript:void(0)" @onclick='(e) => { Navigator.NavigateTo("items/" + Item.Id + "/edit"); }'>Edit</a>
    }
}
else if ((Command == "edit" && EditItem != null) || Command == "add")
{

<EditForm Model="@EditItem" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />

    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText class="form-control" id="name" @bind-Value="EditItem.Name" />
    </div>

    <div class="form-group">
        <label for="rank">Rank</label>
        <InputNumber class="form-control" id="rank" @bind-Value="EditItem.Rank" />
    </div>

    <div class="form-group">
        <label>Price</label>
        <InputNumber class="form-control" id="price" @bind-Value="EditItem.Price" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    
    <button class="btn btn-secondary" @onclick='()=> Navigator.NavigateTo("items")' type="button">Cancel</button>

</EditForm>
}